body {
  font-family: helvetica;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #363131;
  text-decoration: none;
  font-weight: bold;
}

span {
  color: #77787A;
}

.octodex {
  margin: 20px auto;
  width: 1389px;
}

.octodex::after {
  content: '';
  display: block;
  clear: both;
}

.octocat {
  float: left;
  margin: 0 10px 50px 10px;
  max-width: 443px;
}

.octocat > a {
  display: block;
  position: relative;
}

.octocat > a > img {
  margin-top: 2px;
  max-width: 100%;
  max-height: 100%;
  border: 1.5px solid #cacaca;
  border-radius: 3px;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
}




.image-caption {
  float: right;
  padding: 12px 0;
  line-height: 28px;
  height: 28px;
}

.image-caption > a {
  font-weight: bold;
  display: inline-block;
  line-height: 28px;
  vertical-align: top;
}

.image-caption > span {
  font-weight: bold;
  display: inline-block;
  line-height: 28px;
  vertical-align: top;
}

.authors {
  display: inline-block;
  box-sizing: border-box;
  height: 28px;
}

.authors li {
  height: 28px;
}


.authors img {
  width: 28px;
  height: 28px;
  display: inline-block;
  border: 0px solid #fff;
  border-radius: 3px;
  margin-left: 2px;
}

.image-number {
  color: #cacaca;
  display: inline-block;
  font-weight: bold;
  padding: 19px 0;
}

/* adds the missing hashtag to the number */
.image-number::before {
  content: '#';
}

.image-footer {
  border-bottom: 1.5px solid #cacaca;
  font-size: 16px;
  text-align: left;
  position: relative;
}

.octocat {
  position: relative;
}

.octocat > a::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #cacaca;
  position: absolute;
  right: 7px;
  bottom: -7px;
}

@media (max-width: 1420px) {
  .octodex {
    width: 962px;
  }
}

@media (max-width: 975px) {
  .octodex {
    width: 463px;
    max-width: 100%;
  }
  .octocat > a {
    height: auto;
  }
}
